<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration">Sign up</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>
<div class="container mx-left" style="width:300px">
    <h1>Admin</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/admin/users">Users</a></li>
        <li class="list-group-item"><a href="/admin/products">Products</a></li>
        <li class="list-group-item"><a href="/admin/categories">Categories</a></li>
        <li class="list-group-item"><a href="/admin/manufacturers">Manufacturers</a></li>
        <li class="list-group-item"><a href="/admin/purchases">Purchases <span
                class="badge">{{numOfUncheckedPurchases}}</span></a></li>
    </ul>
</div>
</body>
</html>