<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>
<div class="container mx-auto" style="width:500px">
    <h2 align="center">List of users</h2>
    {{#users}}
    <form action="/admin/editUsers" method="post" class="form-inline">
        <table class="table table-bordered">

            <tr>
                <td style="width:100px">
                    <div class="form-group">
                        <label>{{login}}<input type="hidden" value="{{login}}" name="login"></label>
                    </div>

                </td>
                <td style="width:100px">
                    <div class="form-group">
                        <label>

                            <select name="role">
                                <option value="{{role}}" selected>Default: {{role}}</option>
                                <option value="ADMIN">Admin</option>
                                <option value="USER">User</option>
                            </select>
                        </label>
                    </div>
                </td>
                <td style="width:100px">
                    <div class="form-group">
                        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
                        <input type="submit" value="Submit">
                    </div>
                </td>
            </tr>
        </table>
    </form>
    {{/users}}
</div>
</body>
</html>