<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="/admin/products">Back</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<div class="container mx-auto" style="width:300px">
    <form action="/admin/products/addProduct" method="post" id="addProduct">
        <div><label> Product name: <input type="text" name="name" required/> </label></div>
        <br>
        <label> Description:<textarea rows="10" cols="30" name="description"></textarea><br>
        </label><br><br>
        <div><label> Model: <input type="text" name="model" required/> </label></div>
        <br>
        <div><label> Price: <input type="text" name="price" required placeholder="$100.00"/> </label></div>
        <br>
        <div><label> Amount: <input type="number" step="1" min="1" name="amount" value="1" required/> </label></div>
        <br>

        <h3>Categories:</h3><br>
        <ul>
            {{#categories}}
            <li>
                <input type="hidden" name="categoriesIds" value="{{id}}">
                <label><input type="checkbox" name="categories"
                              value="{{id}}"/> {{name}}</label>
            </li>
            {{/categories}}
        </ul>
        <br>
        <h3>Manufacturers:</h3><br>
        <ul>
            {{#manufacturers}}
            <li>
                <input type="hidden" name="manufacturersIds" value="{{id}}">
                <label><input type="checkbox" name="manufacturers"
                              value="{{id}}"/> {{name}}</label>
            </li>
            {{/manufacturers}}
        </ul>
        <br><br>
        <input type="submit" value="Add" class="btn">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">

    </form>
</div>
</body>
</html>