<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="/admin/products">Back</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<div class="container mx-auto" style="width:300px">
    {{#product}}
    <h1>{{name}}</h1>
    <form action="" method="post">
        <div><label> Product name: <input type="text" name="name" value="{{name}}" required/></label></div>
        <br>
        <label> Description:<textarea rows="10" cols="45" name="description">{{description}}</textarea><br>
        </label><br><br>
        <div><label> Model: <input type="text" name="model" value="{{model}}" required/> </label></div>
        <br>
        <div><label> Price: <input type="text" name="price" value="{{price}}" required/> </label></div>
        <br>
        <div><label> Amount: <input type="number" step="1" min="0" name="amount" value="{{amount}}" required/> </label>
        </div>
        <br>
        {{/product}}
        <h6>Categories:</h6><br>
        <ul>
            {{#product}}
            {{#categories}}
            <li>
                <label>{{name}}<input type="checkbox" name="categories"
                                      value="{{id}}" checked/></label>
            </li>
            {{/categories}}
            {{/product}}
            {{#categories}}
            <li>
                <label>{{name}}<input type="checkbox" name="categories"
                                      value="{{id}}"/></label>
            </li>
            {{/categories}}
        </ul>

        <br>
        <h6>Manufacturers:</h6><br>
        <ul>
            {{#product}}
            {{#manufacturers}}
            <li>
                <label>{{name}}<input type="checkbox" name="manufacturers"
                                      value="{{id}}" checked/></label>
            </li>
            {{/manufacturers}}
            {{/product}}
            {{#manufacturers}}
            <li>
                <label>{{name}}<input type="checkbox" name="manufacturers"
                                      value="{{id}}"/></label>
            </li>
            {{/manufacturers}}
        </ul>
        <br><br>
        <input type="submit" value="Edit" class="btn">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
    </form>
</div>
</body>
</html>