<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="/admin/products/addProduct" style="color:darkorange">Add product</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<h2>{{status}}</h2>

<br>

<div class="container mx-auto" style="width:300px">
    <h2 align="center">List of products</h2>

    {{#products}}
    <form>
        {{name}}
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Edit" formaction="/admin/products/editProduct"
               formmethod="get" class="btn-info">
        <input type="submit" value="Delete" class="btn-danger" formaction="/admin/products/deleteProduct"
               formmethod="post"><br><br>
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">

    </form>
    {{/products}}

    <br><br>
</div>
</body>
</html>