<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Web-store</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>
<div class="container mx-auto" style="width:1000px">
    <h2 align="center">Cart</h2>
    <form>
        <table class="productTable table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Out of cart</th>
            </tr>
            {{#products}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{description}}
                </td>
                <!--<td>-->
                <!--<select name="amount" id="{{amount}}"></select>-->
                <!--<script>-->
                <!--function quantity(amount) {-->
                <!--var select = document.getElementById('{{amount}}');-->
                <!--for (var i = 1; i <= amount; i++) {-->
                <!--select.options[select.options.length] = new Option(i, i);-->
                <!--}-->
                <!--}-->

                <!--var x = '{{amount}}';-->
                <!--quantity(parseInt(x));-->
                <!--</script>-->
                <!--</td>-->
                <td>
                    <p>{{price}}</p>
                    <!--<script>-->
                    <!--var price = document.getElementById("price");-->
                    <!--var amount = document.getElementsByName("amount");-->

                    <!--price = price.innerText.sub(1).valueAsNumber * amount.item(0).innerText.sub().valueAsNumber;-->
                    <!--</script>-->
                </td>
                <td>
                    <input type="hidden" name="id" value="{{id}}">
                    <label><input type="submit" value="throw away" formaction="/deleteProductFromCart"
                                  class="btn-danger"
                                  formmethod="post"></label><br><br>
                    <input type="hidden" name="ids" value="{{id}}">
                </td>
            </tr>
            {{/products}}
        </table>
        <input type="submit" value="Purchase" formaction="/cart/makeOrder" formmethod="post" class="btn btn-success">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
    </form>

</div>
</body>
</html>