<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Web-store</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<h1 style="text-align:center">WEB-STORE</h1>

<div class="container mx-auto" style="width:1000px">

    <h5 style="text-align: right; font-size:20px"><a href="/cart">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a></h5>
    <h3>Categories</h3>
    <form action="/main" method="get">
        <select name="category">
            <option value="{{category}}">{{category}}</option>
            <option value="all">all</option>
            {{#categories}}
            <option value="{{name}}">{{name}}</option>
            {{/categories}}
        </select>

        <input type="submit" value="Show" class="btn-info">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
    </form>
    <br><br>

    <h4>{{#status}}{{status}}{{/status}}</h4>

    <h3 align="center">Products</h3>

    <form action="/user/toCart" method="post">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Available amount</th>
                <th>Price</th>
                <th>In cart</th>
            </tr>
            {{#products}}
            <tr>
                <td>
                    {{name}}
                </td>
                <td>
                    {{description}}
                </td>
                <td>
                    {{amount}}
                </td>
                <td>
                    {{price}}
                </td>
                <td>
                    <input type="hidden" name="id" value="{{id}}">
                    <label><input type="submit" value="add to cart" class="btn-success"></label><br><br>
                    <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
                </td>
            </tr>
            {{/products}}
        </table>
        <input type="hidden" name="category" value="{{category}}">
    </form>
</div>
</body>
</html>