<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manufacturers</title>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration">Sign up</a></li>
            <li><a href="/admin/manufacturers/addManufacturer" style="color:darkorange">Add Manufacturer</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>
<br><br>

<div class="container mx-auto" style="width:300px">
<h3>{{status}}</h3>


    <h2>List of manufacturers</h2>
{{#manufacturers}}
<form>
    <h3>{{name}}</h3>
    <input type="hidden" value="{{id}}" name="id">
    <input type="submit" value="Edit" formaction="/admin/manufacturers/editManufacturer" formmethod="get"
           class="btn-info">
    <input type="submit" value="Delete" formaction="/admin/manufacturers/deleteManufacturer" formmethod="post"
           class="btn-danger">
    <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
</form>
{{/manufacturers}}
</div>
</body>
</html>