<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Purchases</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration">Sign up</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<div class="container mx-auto" style="width:1100px">
    <div class="row">
        <div class="col-sm-4">
            <h2>Unchecked orders</h2>
            {{#uncheckedPurchases}}

            <form>
                <table class="table table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Number of items</th>
                        <th>Sum</th>
                        <th>Date</th>
                    </tr>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{numberOfProducts}}</td>
                        <td>${{sum}}</td>
                        <td>{{date}}</td>
                    <tr>
                        <th>Client</th>
                        <th>Login</th>
                        <th>e-mail</th>
                        <th>tel. number</th>
                    </tr>
                    {{#user}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{login}}</td>
                        <td>{{email}}</td>
                        <td>{{phoneNum}}</td>
                    </tr>
                    <tr>
                        <th>Items</th>
                        <th>price</th>
                    </tr>
                    {{#products}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{price}}</td>
                    </tr>
                    {{/products}}
                    {{/user}}
                    <tr>
                        <td>
                            <input type="hidden" name="id" value="{{id}}">
                        <td><input type="hidden" name="_csrf" value="{{ _csrf.token }}">
                            <input type="submit" value="Delete" formaction="/admin/purchases/deletePurchase"
                                   formmethod="post"></td>
                        <td><input type="submit" value="Submit" formaction="/admin/purchases/submitPurchase"
                                   formmethod="post"></td>
                    </tr>
                </table>
                <br><br>
            </form>
            {{/uncheckedPurchases}}
        </div>

        <div class="col-sm-4">
            <h2>Checked orders</h2>
            {{#checkedPurchases}}
            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Number of items</th>
                    <th>Sum</th>
                    <th>Date</th>
                    <th>Items</th>
                    <th>Price</th>
                    <th>Client data</th>
                </tr>
                <tr>
                    <td>{{id}}</td>
                    <td>{{numberOfProducts}}</td>
                    <td>{{sum}}</td>
                    <td>{{date}}</td>
                    {{#user}}
                    {{#products}}
                    <td>{{name}}</td>
                    <td>{{price}}</td>
                    {{/products}}
                    <td><p>name: {{name}}</p>
                        <p>login: {{login}}</p>
                        <p>{{email}}</p>
                        <p>{{phoneNum}}</p></td>
                    {{/user}}
            </table>
            {{/checkedPurchases}}
        </div>
    </div>
</div>
</body>
</html>