<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Web-store</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
        </ul>
    </div>
</nav>
<div id="login" class="mx-auto container" style="width: 200px;">
    <form action="/login" method="post" class="form-horizontal">
    <div><label> Login : <br><input type="text" name="username"/> </label></div>
    <br>
    <div><label> Password: <br><input type="password" name="password"/> </label></div>
    <br>
    <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        <div><input type="submit" value="Sign in" class="btn-success"/></div>
    <br>
        <div><input type="submit" value="Sign up" formaction="/registration/" formmethod="post" class="btn-info"/></div>
    <br>
        <div><input type="submit" value="Logout" formaction="/logout" formmethod="post" class="btn-warning"></div>
    <br>
    <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
</form>
</div>
<br><br>

</body>
</html>