<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User registration</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Web-store</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}}</a></li>
        </ul>
    </div>
</nav>

<div class="mx-auto container" style="width: 300px;">
    <h4>{{status}}</h4>
    <h1>Registration</h1>
    <form action="/registration/addUser" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name" class="form-control" placeholder="Enter your name" id="name" required>
        </div>
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" name="login" class="form-control" placeholder="Enter unique name" id="login" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" class="form-control" placeholder="Enter password" id="password"
                   required>
        </div>
        <div class="form-group">
            <label for="passwordRepeat">Repeat password:</label>
            <input type="password" name="passwordRepeat" class="form-control" placeholder="Enter password again"
                   id="passwordRepeat" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" name="email" class="form-control" placeholder="Enter your email" id="email" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone number:</label>
            <input type="text" name="phoneNum" class="form-control" placeholder="Enter your phone number"
                   id="phone" required>
        </div>
        <input type="hidden" name="isAdmin" value={{isAdmin}}>
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
        <button type="submit" class="btn btn-success">Sign up</button>
    </form>
</div>


</body>
</html>