<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <script type="text/javascript" src="/script.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration">Sign up</a></li>
            <li><a href="/admin/categories/addCategory" style="color:darkorange">Add category</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>
<br><br>
<div class="container mx-auto" style="width:300px">
    <h3>{{status}}</h3>


    <h2>List of categories</h2>
    {{#categories}}
    <form>
        <h3>{{name}}</h3>
        <input type="hidden" value="{{id}}" name="id">
        <input type="submit" value="Edit" formaction="/admin/categories/editCategory" formmethod="get" class="btn-info">
        <input type="submit" value="Delete" formaction="/admin/categories/deleteCategory" formmethod="post"
               class="btn-danger">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
    </form>
    {{/categories}}
</div>
</body>
</html>