<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Admin side</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/admin">Home</a></li>
            <li><a href="/login">Sing in</a></li>
            <li><a href="/registration/">Sign up</a></li>
            <li><a href="/admin/categories">Back</a></li>
            <li><a href="#" style="color:deepskyblue">{{username}} </a></li>
        </ul>
    </div>
</nav>

<div class="container mx-auto" style="width:500px">
    {{#category}}
    <h1>{{name}}</h1>
    <form action="/admin/categories/editCategory" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <div><label> Category name: <br><input type="text" name="name" value="{{name}}" required/></label></div>
        <br>
        <label> Description:<br><textarea rows="10" cols="30" name="description">{{description}}</textarea><br>
        </label><br><br>
        <input type="submit" value="Edit" class="btn-info">
        <input type="hidden" name="_csrf" value="{{ _csrf.token }}">
    </form>
    {{/category}}
</div>
<br><br>
</body>
</html>